<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../vaadin-date-picker/vaadin-date-picker.html">

<dom-module id="abas-date-picker">
  <script>
    /**
     * `abas-date-picker`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasDatePicker extends Vaadin.DatePickerElement {
      static get is() { return 'abas-date-picker'; }
    }

    window.customElements.define(AbasDatePicker.is, AbasDatePicker);
  </script>
</dom-module>
